 a  {
    text-decoration: none !important;
    font-weight: 800 !important;
    color: White !important;
}

a:hover {
    color: #EF5E24 !important;
}


.btn-danger {
    background-color: #EF5E24 !important;
    border: 0 !important;
}